.btn {
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 35px 10px 35px;
    font-family: "BerninaSans-Light", sans-serif;
    font-weight: 200;
    color: #fff;
    font-size: 14px;
}

.btn--green {
	@extend .btn;
	background-color: $perform-green;
	margin-right: 30px;
	transition: 0.2s ease;
	&:hover {
		background-color: $perform-green-hover;
	}
}

.btn--blue-link {
	@extend .btn;
	padding-left: 0;
	color: $perform-blue;
	border: none;
}

.btn--blue {
	@extend .btn;
	margin-top: 2rem;
	background-color: $perform-blue;
	transition: 0.2s ease;
	&:hover {
		background-color: $perform-blue-hover;
	}
}

.btn--flexpoints {
	font-size: 25px !important;
}

.btn--clear {
	@extend .btn;
	margin-top: 1rem;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #fff;
	padding: 8px;
    font-size: 15px;
	transition: 0.2s ease;
	&:hover {
		background-color: #fff;
		color: #000;
	}
}

.btn--blue-clear {
	@extend .btn;
	@extend .btn--clear;

	border: 1px solid $perform-blue;
	color: $perform-blue;
	&:hover {
		background-color: $perform-blue;
		color: #fff;
	}
}

.btn--flexpopints {
	font-size: 1.5rem;
}