//cheap reset
html, body {
	width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	overflow-x: hidden;
}

//removal of $perform-blue outline on links...
a:focus, .ui-accordion-header {
	outline: 0 !important;
}

::selection {
	background-color: $perform-green;
}

.page-wrapper {
	background-image: url('/img/perform-bg.png');
	background-size: inherit;
	background-color: rgba(0, 0, 0, 0.6);
}

#html-container {
	min-height: 100%;
	max-width: 100%;
    position: relative;
}

.slicknav_menu {
    font-size: 16px;
    background: #222222;
    padding: 5px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    width: 100%;
}

#tabs-1{
	padding: 0;
}

.row--agenda {
	margin-right: 100px !important;
	overflow: hidden;
}

.speaker-block {
	height: 450px;
	display: flex;
    align-items: center;
}

.container--sponsors {
	padding-bottom: 4rem;
}

.container--home-hero {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.content--home-hero {
	margin-bottom: 27.5rem;
}

.content--sub-hero {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	margin-bottom: 30px;
	width: 40%;
    margin-right: auto;
}

.container--infoicons {
	float: left;
	margin-top: -4rem;
	padding-left: 13rem !important;
}

.perform__signup {
	background-color: $transparent-black;
}

.perform__vidyard_iframe {
	position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.perform-circles {
	border-radius: 100%;
	border: 2px solid $perform-dark-gray;
	margin-left: 30px;
	color: $perform-dark-gray;
	width: 130px;
    height: 130px;
}

.perform-circles-li {
	display: inline-block;
	vertical-align: text-bottom;
}

.perform-circles-li:nth-last-child(2) {
	margin-top: 12px;
}

.perform-circles-list {
	display: table;
    width: 80%
}

.content__signup {
	display: block;
	margin-top: -56px;
}

.content__agenda--date {
	background-color: #7dc540;
}

.content__agenda {
	background-color: #00a6fb;
    color: #f0f8ff;
}

.speaker-company {
	margin-bottom: -30px;
}

.speaker-headshot {
	width: 80px; 
	border-radius: 100%; 
	float: left; 
	margin-right: 35px;
}

.content--perform-qas {
	background-color: $perform-blue;
	color: #fff;
	text-align: center;
}

.content--insiders {
	text-align: center;
	color: #fff;
	margin: 30px;
}

.content--insiders-green {
	@extend .content--insiders;
	background-color: $perform-green;
}

.content--insiders-blue {
	@extend .content--insiders;
	background-color: $perform-blue;

	a {
		color: #fff;
	}
}

.content--pricing {
	color: $perform-blue;
	margin: 10px;
	margin-bottom: -105px;
	padding: 40px !important;
	height: 125px;

	h3 {
		text-align: right;
		font-size: 40px;
		font-weight: 800;
	}

	p {
		font-weight: 200;
	}

	p:last-child {
		white-space: nowrap;
	}

	span {
		position: absolute;
		font-size: 20px;
	}
}

.sm-icons {
	width: 70px;
	float: right;
}

.perform__logo {
	display: block;
	position: fixed;
	padding-top: 30.5px;
    padding-left: 30px;
	z-index: 1;
}

// .perform__logo--navigation-visible {
// 	visibility: visible;
// 	display: block;
// }

//***SUB NAVIGATION

#perform__subnav {
	width: 100%;
	height: 90%;
	padding-left: 0;
	border: none;
	
	li {
		display: inline-block;
		list-style-type: none;
		text-transform: uppercase;
		font-family: sans-serif;
		font-weight: bold;
	}
}

//for Jquery trigger
.fixedPos{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    top: 0;
}

#perform__subnav--navigation {
	margin-left: auto;
	margin-right: auto;
	background-color: #000;
	padding: 30px;
	border-radius: 0;
}

#agenda-tabs {
	border: none !important;
	width: 100%;
	li {
		background-color: $perform-light-gray;
		border-bottom: 2px solid $perform-blue;
	}

	li:hover {
		background-color: #fff;
	}

	span {
		border-bottom: 1px solid $perform-light-gray;
		padding-bottom: 10px;
		text-transform: capitalize;
	}

	.ui-state-active, .ui-state-hover {
		background-color: #fff;
		color: $perform-blue;
	}
}

.agenda-times {
	width: 30%;
	display: block;
	float: left;
	li {
		width: 500px;
		padding-bottom: 1rem;
		padding-top: 1rem;
		border-bottom: 1px solid $perform-light-gray !important;
		white-space: nowrap;
	}
	li:hover {
		background: none !important;
	}
}

.agenda-events {
	display: block;
	width: 45%;
	float: right;
	li {
		padding-bottom: 1rem;
		padding-top: 1rem;
		border-bottom: 1px solid $perform-light-gray !important;
		overflow: visible;
	}
	li:hover {
		background: none !important;
	}
}

.content__speakers-info {
	background-color: #f8f8f8;
    margin: 10px;
	height: 355px;
}

.breakout-sessions {
	color: $perform-blue;
	border: none !important;
	font-weight: 600;
}

.slicknav_menu {
	display: none;
}

.slicknav_nav li {
    border: none !important;
}
