// GRID SYSTEM

.col {
	float: left;
	padding-bottom: 4rem;

}

.wrapper {
	padding: 20px;
}

.page-wrapper{    
	position: relative;
    width: 100%;
    height: 760px;
    margin-bottom: -4rem;
}

.container, .container--speakers {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    clear: both;
}

.container-morethan-4 {
	-webkit-flex-flow: row wrap;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    clear: both;
    overflow: hidden;
}

.row-morethan-4 {
	display: flex;
	-webkit-flex-flow: row wrap;
}

.content {
	padding: 30px;
}

.col-full {
	width: 100%;
	@extend .col;
}

.col-half {
	width: 50%;
	@extend .col;
}

.col-third {
	width: 33.33333333%;
	@extend .col;
}

.col-quarter {
	width: 25%;
	@extend .col;
}

.col-75 {
	width: 75%;
	@extend .col;
}

.col-morethan-4 {
	display: flex;
	margin: auto;
	//    the width is the main container width DIVIDED by 
	//    the amount of sections per row you have
	width: $container-width / 3;
}


//container queries
@media (min-width: 1200px) {
	.container {
		width: $container-width;
	}

	.container--speakers {
		width: $container-wider;
	}

	.container--blue {
		width: 100%;
	}
}

@media (max-width: 980px) {
	.col-third {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.container, .container--speakers {
    	width: inherit;
    	overflow: hidden;
	}

	.col-half {
		width: 100%;
	}

	.col-third {
		width: 100%;
	}

	.col-quarter {
		width: 50%;
	}

	.col-75 {
		width: 100%;
	}
}

@media (max-width: 480px) {
	.col-quarter {
		width: 100%;
	}
}
