// responsive layout

@media screen and (max-width: 1270px) {
	// this rule shows all tabbable sections on mobile, so that you can navigate via hamburger menu
	#tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-7 {
		display: block !important;
	} 

	.slicknav_menu {
		display: block;
		padding: 1px !important;
	}

	#register {
		margin-top: 6rem;
	}

	#perform__subnav--navigation {
		display: none;
	}

	.perform__logo--navigation {
		display: none;
	}
}

@media screen and (max-width: 980px) {

	iframe {
		width: 100%;
		position: relative;
	}

	.footer__column {
    	padding-top: 30px;
	}

	.page-wrapper {
		height: 600px !important;
		background-size: inherit;
	}

	.container--speakers {
		width: 100% !important;
	}

	.perform-content__container {
		position: relative;
	}

	.perform-circles {
		width: 160px;
    	height: 160px;
	}

	.perform-circles h3 {
    	margin-top: 35px !important;
	}

	.ui-widget-content {
		background: none !important;
	}

	.menu .search__icon {
		top: 50% !important;
	}


	.content--home-hero {
    	text-align: left;
    	margin-top: 4rem;
    	h1 {
    		font-size: 40px !important;
    	}
	}

	.container--reg h2 {
		margin-top: 6rem !important;
	}

	.content-edu {
		img {
			width: 100%;
		}
	}

	#perform__subnav--navigation {
		width: inherit;
	}

	.row__icons {
		display: none;
	}

	.perform__logo {
		display: none;
	}

	.agenda-times {
		padding: 0;
	}

	.footer__socials {
		padding-bottom: 32px;
	}

	.perform-circles {
		margin: 0;
	}

}

@media screen and (max-width: 767px) {
	#perform__subnav {
		bottom: 0;
		li {
			width: 100%;
		}
	}

	.perform-circles-list {
		width: 200px;
    	margin-left: auto;
    	margin-right: auto;
	}

	.agenda-events {
		position: absolute;
    	top: 588px;
    	word-wrap: break-word;
		li {
			padding-bottom: 40px;
			border: none !important;
			white-space: normal;
			font-size: 14px;
			padding-top: 23px;
		}
	}

	.ui-accordion .ui-accordion-content {
    	padding-bottom: 4em !important;
	}

	.agenda-times {
		li {
			padding-bottom: 40px;
		}
	}

	.speaker-company {
		padding-bottom: 15px;
	}

	.perform-circles {
		margin-bottom: 15px;
	}

	.perform-circles-li {
		display: block;
	}

	.perform-circles-li:nth-last-child(2) {
    	margin: 0;
	}

	.content__speakers h4 {
		overflow: visible;
	}

}

@media screen and (max-width: 843px) {

	.container {
		h2 {
    		margin-left: auto;
    		margin-right: auto;
		}
	}

	#agenda-tabs {
		a {
			margin-left: auto;
    		margin-right: auto;
		}
	}
}

@media screen and (max-width: 600px) {
	iframe {
		width: 100%;
	}

	.sm-icons {
		float: none;
	}

	.speaker-block {
		height: 100%;
	}

	.speaker-company {
		margin: 0;
	}
}
