@font-face {
  font-family: "BerninaSans-Reg";
  src: url(/build/fonts/BerninaSans-Web-Regular.woff) format("woff"),
    url(/build/fonts/BerninaSans-Web-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "BerninaSans-Light";
  src: url(/build/fonts/BerninaSans-Web-Light.woff) format("woff"),
    url(/build/fonts/BerninaSans-Web-Light.woff2) format("woff2");
}

body, h1, h2, h3, h4, li, span {
	font-family: "BerninaSans-light", sans-serif !important;
}

p {
	font-family: "BerninaSans-Light", sans-serif;
}

.container, .container--speakers {
	
	h2 {
		text-align: center;
    	font-weight: 100;
    	text-transform: uppercase;
	}

}

.row--info {
	p {
		color: $perform-gray;
		margin-bottom: 50px;
	}
}

.content--home-hero {
	h1 {
		font-size: 60px;
		font-weight: 500;
		color: $hero-text;
		text-align: left;
	}

	h3 {
		font-size: 25px;
		font-weight: 100;
		color: $hero-text;
	}
	
}

.container--reg {
	h2 {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}

.content--sub-hero {
	p {
		font-size: 18px;
		font-weight: 300px;
		color: #fff;
	}
}

.content__agenda {
	text-transform: capitalize;
	p:last-child {
		padding-bottom: 2rem;
	}
}

.content__agenda--date {
	h3 {
		color: #272727;
    	font-weight: 100;
	}
}

.content__speakers {
	text-align: center;

	h3 {
		font-weight: bold;
		text-align: left;
		margin-bottom: -20px;
	}

	h4 {
		text-align: center;
		font-weight: 300;
    	font-size: 16px;
    	margin-top: -20px;
    	text-align: left;
    	width: 300px;
	}

	p {
		font-weight: 100;
		line-height: 30px;
	}
}

.content__speakers-info {
	text-align: left;
	h3 {
		margin-bottom: -20px;
	}

	h4 {
		font-weight: 200;
		overflow: hidden;
	}

	p {
		float: left;
		border-top: 2px solid $perform-gray;
		padding-top: 15px;
	}
}

.speaker-company {
	text-align: left !important;
	font-family: "BerninaSans-Light", sans-serif;
	font-weight: 100;
	font-size: 14px;
	text-transform: capitalize;
	color: $perform-blue;
}

.content__sponsors {
	text-align: center;
	p {
		font-weight: 100;
	}

	p:last-child {
		padding-bottom: 20px;
	}
}

.content--pricing {

	h3 {
		text-align: left;
		font-size: 40px;
	}

	p {
		font-weight: 800;
        margin-bottom: -35px;
	}

	p:last-child {
		white-space: nowrap;
	}

	span {
		position: absolute;
		font-size: 20px;
	}
}

.content--perform {
	text-align: center;
}

.content-edu {
	h3 {
		font-weight: 600;
	}

	p {
		font-family: "BerninaSans-Light", sans-serif;
	}
}


#perform-countdown {
	h3 {
		font-weight: 100;
		font-size: 24px;
		color: #bbbbbb;
	}
}

.perform-circles {
	text-align: center;
	font-size: 12px;
	font-weight: lighter;
	h3 {
		font-size: 41px;
    	margin-bottom: -4px;
    	margin-top: 20px;
	}

	p {
		font-weight: 600;
		color: $perform-dark-gray;
	}
}

.content--perform {
	p {
		font-family: "BerninaSans" ,sans-serif;
    	font-weight: 300;
    	width: 80%;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 40px;
    	line-height: 30px;
	}
} 

.content--perform-qas {
	text-align: center;
	font-weight: 300;
	color: #fff;
		
	h3 {
		font-weight: 300;
	}

	p {
		margin-bottom: 30px;
	}
}

#pass-details {
	padding-top: 2rem;
	text-align: center;
}

.content--insiders {
	h3 {
		font-weight: 300;
		font-family: "BerninaSans" ,sans-serif;
	}
}

#agenda-tabs {
	text-align: center;

	h3 {
		font-size: 30px;
    	margin: 0;
    	font-weight: 500;
    	text-transform: capitalize;
	}

	p {
		font-size: 14px;
	}

	a {
		color: $perform-text;
	}

	a:hover {
		color: $perform-blue;
	}

}

.agenda-events {
	text-align: center;
	li {
		white-space: nowrap;
		text-transform: capitalize !important;
	}
}

.agenda-events, .agenda-times {
	text-align: left;
	li {
		background: none !important;
	}
} 

.perform-discounts {
	text-transform: capitalize !important;
	span {
		font-weight: bold;
		font-family: BerninaSans-Reg,sans-serif!important;
	}

	li {
		display: list-item !important;
		text-transform: capitalize !important;
		list-style-type: circle !important;
	}
}

.faq-subheader {
	font-family: "BerninaSans-Light", sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	border-left: 4px solid $perform-green;
	background-color: #fff;
	padding: 20px;
}

.ui-accordion-header {
	color: #292929 !important;
    background: none;
}

.ui-tabs-anchor {
	font-weight: 200;
}
