// Variables set at default settings. 
$container-width: 1100px;
$container-wider: 1200px;
$menu-padding: 10px;
$menu-margin: 30px;
$header-margin: 1rem;



//COLORS
$hero-text: #fff;
$background-gray: #F2F2F2;
$perform-text: #454646;
$perform-green: #7DC540;
$perform-green-hover: #2abb06;
$perform-blue: #466eff;
$perform-blue-hover: #0066ff;
$perform-gray: #A0A0A0;
$perform-light-gray: #F8F8F8;
$perform-dark-gray: #545454;
$perform-page-gray: #F2F2F2;
$transparent-black: rgba(0, 0, 0, 0.6);
$transparent-background-blue: rgba(0, 166, 251, 0.73);