---
# Perform 2017
---
<!DOCTYPE html>
<html>                                               
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<title>Perform 2017 | Dynatrace</title>

<!-- <link type="text/css" rel="stylesheet" href="../dpd/css/normalize.css">
 -->
<link type="text/css" rel="stylesheet" href="../build/css/styles.css">
<link type="text/css" rel="stylesheet" href="../dpd/css/form.css">
<link type="text/css" rel="stylesheet" href="../dpd/css/nav.css">
<link type="text/css" rel="stylesheet" href="../dpd/css/footer.css">
<link type="text/css" rel="stylesheet" href="../dpd/css/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="../dpd/css/slicknav.min.css">

<link rel="icon" href="https://www.dynatrace.com/assets/brand/favicon.ico">

	</head>

<body>

<div class="menu">
	{% include nav.html %}
</div>

<div id="html-container">

	<div class="page-wrapper">
	   
	   <div class="container container--home-hero">
	   	<div class="row">
	   		<div class="col-full">
	   			<div class="content content--home-hero">
	   				<h1>Register for Perform 2017 Now!</h1>
	   				<div class="content--sub-hero">
	   					<p>The Cosmopolitan Hotel Las Vegas</p>
	   					<p>February 7th – 9th 2017 (HOT Day is February 6th)</p>
	   				</div>
	   				<a class="btn btn--green" id="register-btn" href="#register">Register</a>
	   				<a class="btn btn--clear" id="view-agenda" href="#agenda-header">View Agenda</a>
	   			</div>
	   	
	   		</div>
	   	</div>
	   </div>


	</div>


<div id="perform__subnav">
	<div class="perform-content__container">
	   	<ul id="perform__subnav--navigation">
	   		<li><a href="#tabs-1">Perform 2017</a></li>
	   		<li><a href="#tabs-2">Agenda</a></li>
	   		<li><a href="#tabs-3">Speakers</a></li>
	   		<li><a href="#tabs-4">Sponsors</a></li>
	   		<li><a href="#tabs-5">Education & Certification</a></li>
	   		<li><a href="#tabs-6">FAQ</a></li>
	   	</ul>

	   	<div id="tabs-1">
	   		{% include perform.html %}
	   	</div>

		<div id="tabs-2">
			{% include agenda.html %}
		</div>

		<div id="tabs-3">
			{% include speakers.html %}
		</div>

		<div id="tabs-4">
			{% include sponsors.html %}
		</div>

		<div id="tabs-5">
			{% include education.html %}
		</div>

		<div id="tabs-6">
			{% include faq.html %}
		</div>

	</div> <!-- content wrapper closer -->

</div> <!-- tabs/nav closing tag -->


{% include footer.html %}


</div> <!-- HTML container closer -->
</body>
</html>