footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 48px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 22.4px;
  font-family: BerninaSans, Arial, sans-serif;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;  
}

.footer ul {
    list-style: none;
}

.footer__socials--separated {
  border-top: 1px solid #fff;
}

.footer__socials {
  padding-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid hsla(0,0%,97%,.5);
}

.footer__sociallink {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 8px;
  fill: #fff;
  margin-top: 32px;
  margin-left: 16px;
  margin-right: 16px;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out, fill 100ms ease-in-out;
}

.footer__sociallink:hover {
  background-color: #fff;
  fill: #353535;
}


.footer__column {
  margin-top: 32px;
}

@media (min-width: 460px) {

  .footer__columns {
    display: flex;
    flex-wrap: wrap;
  }

  .footer__column {
    flex: 1;
    flex-basis: calc(50% - 32px);
    max-width: calc(50% - 32px);
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (min-width: 767px) {

  .footer__column {
    flex-basis: calc(33% - 32px);
    max-width: calc(33% - 32px);
  }
}

@media (min-width: 992px) {

  .footer__column {
    flex-basis: calc(20% - 32px);
    max-width: calc(20% - 32px);
  }
}

@media (min-width: 1200px) {

  .footer__columns {
    flex-wrap: nowrap;
  }
}

/*
* links in the footer
*/

.footer__link {
  color: #fff;
  font-size: 12.8px;
  text-decoration: none;
}

.footer__link:hover {
  color: #e6e6e6;
}

.footer__legal {
  display: flex;
  justify-content: space-between;
}

/*
* linked list
*/

.footer__linklist {
  margin-top: 1em;
  padding-left: 0;
  margin-left: 0;
}

.footer__linkitem:before {
  content: none;
}

.footer__linkitem + .footer__linkitem {
  margin-top: 0.4em;
}


.footer h4, 
.footer h5, 
.footer h6 {
    font-size: 16px;
    line-height: 24px;
    font-family: BerninaSans, Arial, sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
}

.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6, .footer ol, .footer p, .footer ul {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    font-family: BerninaSans, Arial, sans-serif;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
}

.footer-nav__od {
  color: #6d6d6d;
  font-size: 0.5rem;
  padding: 1rem;
  background-color: #353535;
}

.footer-nav__od a {
  color: #6d6d6d;
}

