body.light #logo-black {
          display: none;
        }
        body.dark #logo-white {
          display: none;
        }
        
        body.light #logo-white {
          display: block;
        }
        body.dark #logo-dark {
          display: block;
        }
      
        #logo-black,
      	#logo-white {
          max-width: 200px;
        }
		div#outerWrapDiv {
			position: relative;
			height: auto!important;
			width: 100%
		}
		div#innerWrapDiv {
			height: 800px!important;
			position: relative;
			padding: 0;
			margin: 0 auto;
			text-align: left;
			width: 100%
		}
      
        .header-right ul,
        .top-navigation ul {
          margin: 15px 0 0 0;
          padding: 0;
        }
      
        .header-right ul li,
      	.top-navigation ul li {
          display: inline;
          list-style-type: none;
          float: right;
        }
      	
      	.header-right ul li a,
      	.top-navigation ul li a {
          color: #FAFAFA !important;
          display: block;
          font-size: 18px;
          font-weight: 400 !important;
          font-family: Titillium Web,sans-serif !important;
          padding: 4px 10px;
          text-align: center;
        }
      
        .header-right ul li a#cta-link,
      	.top-navigation ul li a#cta-link {
          background: #7dc540;
          border-radius: 2px;
          color: #fafafa;
          font-weight: 700;
          margin-left: 7px;
          padding: 2px 10px 4px 10px;
        }
      
      	.header-right ul li a#cta-link:hover,
        .top-navigation ul li a#cta-link:hover {
          background: #8fdf4b;
          text-decoration: none;
        }
      
        .header-right h4,
        .top-navigation h4 {
          background: #7dc540;
          color: #fafafa;
          font-family: Titillium Web,sans-serif !important;
          font-weight: 300;
          font-size: 1.25rem;
          letter-spacing: 1px;
          text-align: right;
          margin-top: 22px;
          padding: 2px 10px 4px 10px;
        }
      
        .background {
          border: 1px dashed #CCC;
          color: #CCC;
          display: block;
          padding: 20px;
          text-align: center;
        }
      
        header#top-nav {
          position: absolute;
          top:0;
          width: 100%;
          z-index: 2;
        }
      
		header#top-nav .icon-set-label {
          display: inline-block;
          font-weight: 200;
          margin-right: 5px;
		}
		header#top-nav .icon-set a em {
          color: #777;
          font-weight: 300;
		}
		#logo img.img-responsive {
          width: 308px;
		}
      
      	#featureContainer {
          background-image: url(https://assets.dynatrace.com/global/backgrounds/bg-event-template-placeholder.jpg);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: right bottom;
          height: 600px;
          position: relative;
          z-index:1;
        }
      
      	.video-fulfillment #featureContainer {
          height: 675px;
        }
      
      	#featureContainerOverlay {
          background: -moz-linear-gradient(top, rgba(32,32,32,0.82) 0%, rgba(0,0,0,0) 100%);
          background: -webkit-linear-gradient(top, rgba(32,32,32,0.82) 0%,rgba(0,0,0,0) 100%);
          background: linear-gradient(to bottom, rgba(32,32,32,0.82) 0%,rgba(0,0,0,0) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6202020', endColorstr='#00000000',GradientType=0 );
          position: absolute;
          top:0;
          left: 0;
          right: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      
        .video-fulfillment #featureContainerOverlay {
          background: -moz-linear-gradient(top, rgba(32,32,32,0.92) 0%, rgba(0,0,0,0.35) 100%);
          background: -webkit-linear-gradient(top, rgba(32,32,32,0.92) 0%,rgba(0,0,0,0.35) 100%);
          background: linear-gradient(to bottom, rgba(32,32,32,0.92) 0%,rgba(0,0,0,0.35) 100%);
        }
      
        #pageHeaderContainer {
          color: #FAFAFA;
          font-family: Titillium Web,sans-serif !important;
          margin-bottom: 60px;
          text-align: center;
          margin-top: 30px;
          position: absolute;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          top: 20%;
          left: 0;
          right: 0;
          z-index: 3;
        }
      
        #pageTitle .title h1
        #pageTitle .title,
        .title h1 {
          color: #FAFAFA !important;
          font-family: Titillium Web,sans-serif !important;
          font-size: 2.6rem;
          line-height: 110%;
          text-align: center !important;
          text-shadow: 0 0 8px #555;
        }
      
      	#pageSubtitle {
          border-top: 1px solid #FAFAFA;
          margin-top: 10px;
          padding-top: 10px;
        }
      
      	#pageSubtitle,
        .subtitle{
          color: #FAFAFA !important;
          font-family: Titillium Web,sans-serif !important;
          font-size: 25px;
          line-height: 130%;
          text-align: center !important;
          text-shadow: 0 0 8px #555;
        }

		
		.clearfix:after {
			line-height: 0;
		}
		HTML[xmlns] .clearfix {
			display: block;
		}
		* HTML .clearfix {
			height: 1%
		}
		.clearfix:after,
		.container:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
		}
		.clearfix,
		.container {
          display: block;
		}
		.clear {
          clear: both;
		}
		p {
          margin-bottom: 15px;
		}
		em,
		i {
          font-style: italic;
		}
		.container {
          display: block;
          padding-right: 15px;
          padding-left: 15px;
          margin-right: auto;
          margin-left: auto;
		}
		@media (min-width: 768px) {
			.container {
				width: 750px;
			}
		}
		@media (min-width: 992px) {
			.container {
				width: 1000px;
			}
		}
		@media (min-width: 1200px) {
			.container {
				width: 1170px;
			}
		}
		div#mktContent {
			position: relative;
			margin: 0 auto;
		}
      
      	.confirmation-text {
          background: #fafafa;
          color: #333 !important;
          box-sizing: border-box;
          font-size: 1.4rem !important;
          line-height: 1.2 !important;
          margin-top: -125px;
          padding: 40px 20px;
          text-align: center !important;
        }
      
      	.confirmation-text i.fa-check-circle {
          color: #73be28 !important;
          font-size: 72px !important;
          margin-bottom: 20px !important;
        }
      	
		.form-title h2,
		.form-title h3,
		.form-title h4,
		.form-title h5,
		.form-title h6 {
          color: #f2f2f2!important;
          display: block;
          font-size: 22px;
          margin-top: 0!important;
          margin-bottom: 25px;
          line-height: 125%;
          text-align: center;
		}
      
      	#slot-2.container {
          background: #f2f2f2;
          border: 20px solid #FAFAFA;
          border-bottom: none;
          box-sizing: border-box;
          margin-top: -165px;
          padding: 40px;
          position: relative;
          z-index: 10;
        }
      
        .asset-registration .arrow-box {
          display: block;
        }
      
		.Form_1 form {
          width: 100%!important;
		}
		.mktoForm .mktoGutter {
          float: none!important;
          height: 0!important;
		}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background: #7dc540 !important;
    color: #FFF!important;
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: .5em 1em!important;
    font-size: 1.5em!important;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%!important;
}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
border:1px solid #447f19;
}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus {
outline:none;
border:1px solid #447f19;
}
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active{
background-color:#75ae4c;
background-image: -webkit-gradient(linear, left top, left bottom, from(#75ae4c), to(#99c47c));
background-image: -webkit-linear-gradient(top, #75ae4c, #99c47c);
background-image: -moz-linear-gradient(top, #75ae4c, #99c47c);
background-image: linear-gradient(to bottom, #75ae4c, #99c47c);
}

		.mktoForm .mktoCheckboxList,
		.mktoForm .mktoLabel,
		.mktoForm .mktoRadioList {
          color: #333;
          float: none!important;
          font-weight: 400!important;
          font-size: 16px;
          margin-bottom: 4px;
          padding-top: 0!important;
          width: auto!important;
		}
		.mktoForm .mktoFieldWrap,
		.mktoForm .mktoFormCol {
          float: none!important;
		}
      
        .mktoFieldWrap {
          margin-bottom: 12px !important;
        }
      
        form select {
          height: 40px !important;
        }
      
		.mktoForm .mktoOffset {
          float: none!important;
          height: auto!important;
		}
		.mktoForm input[type=date],
		.mktoForm input[type=email],
		.mktoForm input[type=number],
		.mktoForm input[type=tel],
		.mktoForm input[type=text],
		.mktoForm input[type=url],
		.mktoForm select {
          background: #f2f2f2;
          border: none;
          margin: 0 auto;
          padding: 10px !important;
          float: none!important;
          font-size: 16px !important;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          -ms-border-radius: 3px;
          width: 100%!important;
		}
		.mktoButtonRow {
			display: block!important;
		}
		.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
          background: #7dc540 !important;
          color: #FFF!important;
          display: block;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          padding: .5em 1em!important;
          font-size: 1.5em!important;
          text-transform: uppercase;
          letter-spacing: 1px;
          width: 100%!important;
		}
		DIV#mktColumnContent {
          padding: 0;
          min-height: 560px !important;
          background: #fff;
          box-sizing: border-box;
          padding: 40px;
          margin-top: -125px;
          width: 400px;
		}
		.right_col_intro_text {
          width: 345px!important;
          height: auto!important;
		}
		.Form_1 {
          position: relative;
		}
        
        .mktoForm .mktoButtonRow {
          margin-top: -45px; 
        }