<div class="container" id="agenda">
<h2 id="agenda-header">Agenda</h2>

<div id="agenda-tabs">
  <ul>
    <li><a href="#tabs-8">
    <h3>Feb 6</h3>
    <span>Monday</span>
    <p>7:30AM-8PM</p>
    </a></li>
    <li><a href="#tabs-9">
    <h3>Feb 7</h3>
    <span>Tuesday</span>
    <p>7:30AM-9PM</p>
    </a></li>
    <li><a href="#tabs-10">
    <h3>Feb 8</h3>
    <span>Wednesday</span>
    <p>7:30AM-9PM</p>
    </a></li>
    <li><a href="#tabs-11">
    <h3>Feb 9</h3>
    <span>Thursday</span>
    <p>7:30AM-11:30PM</p>
    </a></li>
  </ul>
  <div id="tabs-8">
    <div class="row row--agenda">
    	<div class="col-full">
    		<div class="content">
    			<h3>Hands-On Training Day (HOT Day) Agenda Coming Soon</h3>
    		</div>
    	</div>  	
    </div>
  </div>
  <div id="tabs-9">
    <div class="row row--agenda">
        <div class="col-full">
            <div class="content">
                <ul class="agenda-times">
                    <li>7:30-8:30AM</li> 
                    <li>8:30-8:45AM</li>
                    <li>8:45-9:30AM</li> 
                    <li>9:30-10:00AM</li>
                    <li>10:00-10:30AM</li> 
                    <li>10:30-11:30AM</li> 
                    <li>11:30-12:30PM</li> 
                    <li>12:30-1:45PM</li> 
                    <li>1:45-2:45PM</li> 
                    <li>2:45-3:45PM</li> 
                    <li>3:45-4:00PM</li> 
                    <li>4:00-4:45PM</li> 
                    <li>4:45-5:30PM</li>
                    <li>6:30PM</li>
                </ul>
                <ul class="agenda-events">
                    <li>Breakfast</li> 
                    <br>
                    <li>Welcome to Perform - John Van Siclen</li>
                    <br>
                    <li>The New Dynatrace Platform - Steve Tack</li> 
                    <br>
                    <li>Digital Transformation - Customer Speaker</li>
                    <br>
                    <li>Break</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li>Lunch</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li>Break</li>
                    <br>
                    <li>Keynote Speaker</li>
                    <br>
                    <li>Meet and Greet with Keynote Speaker</li> 
                    <br>
                    <li>Offsite Event</li>
                </ul>
            </div>
        </div>      
    </div>
  </div>
  <div id="tabs-10">
    <div class="row row--agenda">
        <div class="col-full">
            <div class="content">
                <ul class="agenda-times">
                    <li>7:30AM-8:30AM</li> 
                    <li>8:30AM-9:10AM</li>
                    <li>9:10-9:30AM</li> 
                    <li>10:00-10:30AM</li>
                    <li>10:30-11:30AM</li> 
                    <li>11:30-12:30PM</li> 
                    <li>12:30-1:45PM</li> 
                    <li>1:45-2:45PM</li> 
                    <li>2:45-3:00PM</li> 
                    <li>3:00-3:30PM</li> 
                    <li>3:30-4:00PM</li> 
                    <li>4:00-5:00PM</li> 
                </ul>
                <ul class="agenda-events">
                    <li>Breakfast</li> 
                    <br>
                    <li>Dynatrace Futures - Product Team</li>
                    <br>
                    <li>DevOps Customer Panel</li> 
                    <br>
                    <li>Break</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li>Lunch</li>
                    <br>
                    <li class="breakout-sessions">Breakout Sessions</li>
                    <br>
                    <li>Break</li> 
                    <br>
                    <li>Digital Transformation - Customer Speaker</li>
                    <br>
                    <li>Partner Panel</li>
                    <br>
                    <li>Digital Transformation - Customer Speaker</li>
                </ul>
            </div>
        </div>      
    </div>
  </div>
  <div id="tabs-11">
    <div class="row row--agenda">
        <div class="col-full">
            <div class="content">
                <ul class="agenda-times">
                    <li>7:30AM-8:30AM</li> 
                    <li>8:30AM-9:30AM</li>
                    <li>9:30AM-10:30AM</li> 
                    <li>10:30AM-11:30AM</li>
                    <li>11:30AM</li>
                </ul>
                <ul class="agenda-events">
                    <li>Breakfast</li>
                    <br> 
                    <li>Performance Workshop</li>
                    <br>
                    <li>Performance Workshop</li> 
                    <br>
                    <li>Performance Workshop</li>
                    <br>
                    <li>Conclusion of Conference</li>
                </ul>
            </div>
        </div>      
    </div>
  </div>
</div>




</div>