	   			<div class="faq-accordion">
				<h3>Who attends Perform?</h3>
				<div>
					<p>Business and IT professionals who view digital performance management as critical to their business should attend Perform. Attendees have an opportunity to share best practices and exchange ideas with Dynatrace thought leaders and executive management. 
					How can I explain the importance of this conference to my management? 
					You can find a ROI letter here (we have a ROI letter it just depends where we want to put it).</p> 
				</div>
				<h3>How can I justify Perform to my boss</h3>
				<div>
					<p>We have an ROI letter for you here. <a href="assets/ROI-letter-Perform-2017.pdf" download>Click to download.</a></p>
				</div>
				<h3>What are the registration costs?</h3>
					<div>
						<p>The earlier you register, the lower the fee. Register by October 31st for the Early Bird offer of $595 USD for the general conference. After October 31st this price will go up to $795 USD for the general conference. Hands-On Training (HOT) day is $700 USD but spaces for these courses fill up quickly.</p> 
					</div>
				<h3>What does the registration fee include?</h3>
<div>
<p>The conference registration fee includes access to all sessions, meetings and networking opportunities. Breakfast, lunch, dinner and two snacks will be provided on Tuesday and Wednesday. Breakfast and a morning snack will be provided on Thursday.
The optional HOT Day fee includes eight hours of hands-on training. It also includes breakfast, lunch and two snack breaks.</p>
</div>
<h3>My organization requires me to pay via a purchase order. What should I do?</h3>
<div>
<p>Payment by credit card is preferred. However, if your organization requires a purchase order, please check the box on the conference registration form that states “My company prefers I pay by purchase order”. If you have any follow up question on this you may contact the Perform 2017 Registration Desk at Gavel International at (877) 862-2252 / (847) 597-8570, M-F 8:30 am - 5:00 pm Central Time.</p>
</div> 
<h3>What is the cancellation policy?</h3>
<div>
<p>Conference registration fees are non-refundable for both the general conference and the HOT day.</p>
</div>
<h3>Are attendee substitutions permitted?</h3>
<div>
<p>If you are no longer able to attend Perform, you can transfer your registration to someone else for free until January 15th, 2017. After that, there will be a $100.00 (USD) processing fee for transferring your pass contact the Perform 2017 Registration Desk at Gavel International at (877) 862-2252 / (847) 597-8570, M-F 8:30 am - 5:00 pm Central Time for more info.</p>
</div>
<h3>How does the conference registration fee charge appear on my credit card?</h3>
<div>
<p>The charge will post as a transaction with Gavel International.</p>
</div>
<h3>Will I receive a receipt for my registration fee?</h3>
<div>
<p>Yes. A receipt will be emailed to you.</p>
</div>
</div> <!-- Accordion 1 closer -->