<div class="container">
	<h2>Education and Certification</h2>
	<div class="row">
		<div class="col-full">
			<div class="content content-edu">
				<p>Your applications never stop evolving—so you've got to do the same. We’re here to help. You’re passionate about APM. We’re passionate about enabling you to do it better. We empower you to map and navigate your own APM learning journey at Perform 2017!</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-half">
			<div class="content content-edu">
				<h3>Are you Certified for Perform discounts?</h3>
				<p>Graduates of Dynatrace University's certification programs qualify for special discount rates for our perform event:</p>
				<ul class="perform-discounts">
					<li><span>Associate Certified</span> customers - get 50% off the price of Perform conference tickets</li>
					<li><span>Professional Certified</span> customers - get 50% off the price of Perform conference tickets and one (1) night free in the Cosmopolitan Hotel</li>
					<li><span>Master Certified</span> customers - Attend Perform for free - including all nights at the Cosmopolitan Hotel.</li>
				</ul>
				<p>Please email <a href="mailto:laura.stack@dynatrace.com">laura.stack@dynatrace.com</a> with your name, company name and email address, along with your level of certification, and we'll provide you with a discount code you can use for Perform</p>
			</div>
		</div>
		<div class="col-half">
			<div class="content content-edu">
				<img src="img/discounts.png">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-half">
			<div class="content content-edu">
				<img src="img/certification.png">
			</div>
		</div>
		<div class="col-half">
			<div class="content content-edu">
				<h3>Want to get certified?</h3>
				<p>For individuals who attend PERFORM, we are offering the ability to take the Dynatrace Associate Product level certifications for FREE while at the conference.  We have Associate Product Certifications available for Application Monitoring, DCRUM and Synthetic Monitoring. <a href="http://apmu.dynatrace.com/?home_view=cr">You can check them out here in Dynatrace University along with all of the prescriptive study materials for each.</a></p>
				<p>All that you need to do in order to take advantage of this FREE offer is to sign up for the proctored exam session that you would like to attend at the following link. <a href="http://apmu.dynatrace.com/mod/facetoface/view.php?f=136">Sign up for a Free Proctored Certification Session at PERFORM 2017.</a> We will be there with a proctored room inclusive of the hardware necessary for you to sit down and take the Dynatrace Product Associate Certification of your choice!  Yes, please feel free to sign up for more than one session if you wish. All three Associate level exams will be offered at each proctored session that you enroll in.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-half">
			<div class="content content-edu">
				<h3>Want to be trained? (Hands-On Training Day)</h3>
				<p>HOT day is an always sold-out event that happens the day prior to Perform. It is full-day but customers choose two sessions they want to attend. They are led by an instructor and it is extremely hands-on, meaning instructors guide step by step and make sure all customers are understanding and following along. At $700, this is the most cost effective and beneficial training we offer.</p>
			</div>
		</div>
		<div class="col-half">
			<div class="content content-edu">
				<img src="img/trained.png">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-half">
			<div class="content content-edu">
				<img src="img/workshops.png">
			</div>
		</div>
		<div class="col-half">
			<div class="content content-edu">
				<h3>Performance Workshops</h3>
				<p>Thursday morning will be dedicated completely to live stories. Watch Dynatrace experts and customers use the tools and show you exactly how they are taking control of their customer’s experience.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-half">
			<div class="content content-edu">
				<h3>Performance Café</h3>
				<p>The spot to be at Perform 2017! Questions, product suggestions and networking all converge here in the Performance Café open all day every day during Perform 2017, schedule one on one time with product managers, support staff and client managers.</p>
			</div>
		</div>
		<div class="col-half">
			<div class="content content-edu">
				<img src="img/cafe.png">
			</div>
		</div>
	</div>
</div>