<div class="faq-accordion">
<h3>What should I wear?</h3>
<div>
<p>Business casual attire is suggested. As you will be walking throughout the hotel, comfortable walking shoes are also recommended.</p> 
</div>
<h3>Can I bring a guest?</h3>
<div>
<p>Guests are not permitted to attend any Perform 2017 sessions.</p>
</div>
<h3>Are spouses or children invited to participate in social events or meals?</h3>
<div>
<p>Only Perform 2017 registered attendees are permitted to attend social events and meals. Guest passes are not available for purchase.</p>
</div>
<h3>I have additional questions about Perform 2017 who should I contact?</h3> 
<div>
<p>Contact Laura Stack: <a href="mailto:laura.stack@dynatrace.com">laura.stack@dynatrace.com.</a></p>
</div>
</div>
<!-- Accordion #3 closer -->