<div class="container container--faq">
<h2>FAQ</h2>
	<div class="row">
		<div class="col-quarter">
			<h4 class="faq-subheader">Audience and Registration</h4>
		</div>
	    <div class="col-75">
	   		<div class="content content__faq">
				{% include audience-and-reg.html %}
	   		</div>
	   	</div>
	</div>
	<div class="row">
		<div class="col-quarter">
			<h4 class="faq-subheader">HOT Day</h4>
		</div>
	    <div class="col-75">
	   		<div class="content content__faq">
				{% include hot-day.html %}
	   		</div>
	   	</div>
	</div>
	<div class="row">
		<div class="col-quarter">
			<h4 class="faq-subheader">Travel, Hotel and Ground Transportation</h4>
		</div>
	    <div class="col-75">
	   		<div class="content content__faq">
				{% include travel.html %}
	   		</div>
	   	</div>
	</div>
	<div class="row">
		<div class="col-quarter">
			<h4 class="faq-subheader">Extras</h4>
		</div>
	    <div class="col-75">
	   		<div class="content content__faq">
				{% include extras.html %}
	   		</div>
	   	</div>
	</div>
</div>