<footer class="footer">
  <div class="footer__columns">
    <div class="footer__column">
      <h4>Solutions</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/solutions/customer-experience/">Optimize customer experience</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/solutions/application-monitoring/">Modernize operations</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/solutions/devops/">Accelerate innovation</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/solutions/cloud-migration/">Move to microservices and cloud</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/solutions/">View all solutions</a>
        </li>
        
      </ul>
    </div>

    <div class="footer__column">
      <h4>Capabilities</h4>
      <ul class="footer__linklist">
        
        
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/real-user-monitoring/">Real user monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/cloud-monitoring/">Cloud monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/synthetic-monitoring/">Synthetic monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/mobile-app-monitoring/">Mobile app monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/user-monitoring-for-corporate-applications/">User monitoring for corporate apps</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/application-performance-monitoring/">Application performance monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/continuous-delivery-analytics/">Continuous delivery analytics</a>
        </li>
        
      </ul>
    </div>
    <div class="footer__column">
      <h4 style="visibility:hidden">Capabilities</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/load-testing/">Load testing</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/database-monitoring/">Database monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/technologies/mainframe-monitoring/">Mainframe monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/server-monitoring/">Server monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/network-monitoring/">Network monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/virtualization-monitoring/">Virtualization monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/microservices-and-container-monitoring/">Microservices &amp; container monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/log-analytics/">Log analytics</a>
        </li>
        
      </ul>
    </div>

    <div class="footer__column">
      <h4>Why Dynatrace?</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/business-insights/">Business insights</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/platform/">Our platform</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/user-behavior-analytics/">User behavior analytics</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/business-transaction-monitoring/">Business transaction monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/full-stack-monitoring/">Full stack monitoring</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/application-topology-discovery/">Topology discovery &amp; mapping</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/capabilities/root-cause-analysis/">Root cause analysis</a>
        </li>
        
      </ul>
    </div>

    <div class="footer__column">
      <h4>About us</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/#why-dynatrace">Company</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/leadership/">Leadership</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/careers/">Careers</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/locations/">Locations</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/newsroom/">Newsroom</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/company/customers/">Customers</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/en/perform.html">Perform Conference</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.comhttps://info.dynatrace.com/contact_sales_ww_registration.html">Contact us</a>
        </li>
        
      </ul>
    </div>

    <div class="footer__column">
      <h4>Expertise</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.comhttps://community.dynatrace.com/">APM Community</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.comhttps://help.ruxit.com/">Ruxit Community</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/services/self-service/">Dynatrace University</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/en/products/plugins.html">Technology partners</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/en/partners/partner-listing.html">Implementation Partners</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.comhttps://info.dynatrace.com/partner_recruitment_ww_registration.html">Become a Partner</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/community/blogs/">Blogs</a>
        </li>
        
      </ul>
    </div>


    <div class="footer__column">
      <h4>Additional</h4>
      <ul class="footer__linklist">
        
        <li class="footer__linkitem">
          <a class="footer__link" href="https://www.dynatrace.com/technologies/">Supported technologies</a>
        </li>
        
        <li class="footer__linkitem">
          <a class="footer__link" href="http://resources.dynatrace.com">Resource library</a>
        </li>
        
      </ul>
    </div>
  </div>

  <div class="footer__socials">
    <h3>Join us on</h3>
    <a href="https://www.facebook.com/Dynatrace/" class="footer__sociallink">
      <svg viewBox="0 1 23 23">
        <title>Facebook</title>
        <path d="M9.6,20.1v-7.3H7.2V9.6h2.4V8.4c0-2.2,1.6-4.1,3.6-4.1h2.6v3.2h-2.6c-0.3,0-0.6,0.3-0.6,0.9v1.3 h3.2v3.2h-3.2v7.3H9.6z"></path>
      </svg>
    </a>
    <a href="https://twitter.com/Dynatrace" class="footer__sociallink">
      <svg viewBox="0 0 23 23">
        <title>Twitter</title>
        <path id="twitter" d="M14.4,5.6c1.3,0,2,0.4,2.6,1c0.6,0,1.3-0.4,1.7-0.6c0.1-0.1,0.3-0.2,0.4-0.2 C19,6.5,18.6,7,18.1,7.4c-0.1,0.1-0.2,0.2-0.4,0.3v0c0.7,0,1.3-0.3,1.9-0.5v0c-0.3,0.5-0.7,1-1.1,1.3c-0.2,0.1-0.3,0.3-0.5,0.4 c0,0.8,0,1.5-0.2,2.1c-0.8,3.8-3,6.3-6.5,7.4C10,18.8,8,19,6.6,18.6c-0.7-0.2-1.4-0.4-2-0.6c-0.3-0.1-0.6-0.3-0.9-0.5 c-0.1-0.1-0.2-0.1-0.3-0.2c0.3,0,0.7,0.1,1.1,0c0.3-0.1,0.7,0,1-0.1c0.8-0.2,1.4-0.4,2-0.7c0.3-0.2,0.7-0.4,0.9-0.6 c-0.4,0-0.7-0.1-1-0.2c-1.1-0.4-1.7-1.1-2.1-2.1c0.3,0,1.3,0.1,1.5-0.1c-0.4,0-0.8-0.3-1.1-0.4C4.7,12.6,4,11.7,4,10.2 c0.1,0.1,0.2,0.1,0.3,0.2c0.2,0.1,0.4,0.1,0.7,0.2c0.1,0,0.3,0.1,0.5,0c0,0,0,0,0,0c-0.2-0.2-0.4-0.3-0.6-0.5 c-0.6-0.7-1.1-1.8-0.7-3c0.1-0.3,0.2-0.6,0.4-0.9c0,0,0,0,0,0c0.1,0.1,0.2,0.2,0.3,0.3c0.3,0.4,0.6,0.7,1,1c1.2,1,2.3,1.5,4.1,2 c0.4,0.1,1,0.2,1.5,0.2c-0.2-0.4-0.1-1.1,0-1.6c0.3-1.1,0.9-1.8,1.9-2.2c0.2-0.1,0.5-0.2,0.7-0.2C14.2,5.6,14.3,5.6,14.4,5.6z"></path>
      </svg>
    </a>
    <a href="https://www.linkedin.com/company/dynatrace" class="footer__sociallink">
      <svg viewBox="0 2 23 23">
        <title>Linkedin</title>
        <path d="M7.5,19.1V9.8H4.4v9.4H7.5z M6,8.5c1.1,0,1.8-0.7,1.8-1.6 C7.7,6,7.1,5.3,6,5.3C4.9,5.3,4.2,6,4.2,6.9C4.2,7.8,4.9,8.5,6,8.5L6,8.5L6,8.5z"></path>
        <path d="M9.3,19.1h3.1v-5.2c0-0.3,0-0.6,0.1-0.8 c0.2-0.6,0.7-1.1,1.6-1.1c1.1,0,1.6,0.9,1.6,2.1v5h3.1v-5.4c0-2.9-1.5-4.2-3.6-4.2c-1.7,0-2.4,0.9-2.8,1.6h0V9.8H9.3 C9.3,10.7,9.3,19.1,9.3,19.1L9.3,19.1z"></path>
      </svg>
    </a>
    <a href="https://plus.google.com/+dynatrace/about" class="footer__sociallink">
      <svg viewBox="0 0 23 23">
        <title>Google+</title>
        <path d="M2.9,11.2c0-2.8,2.6-5.3,5.5-5.2C9.7,6,11,6.6,12,7.4c-0.4,0.5-0.9,1-1.4,1.4C9.4,8,7.6,7.7,6.4,8.7
    c-1.8,1.2-1.9,4.1-0.1,5.5c1.7,1.5,4.8,0.8,5.3-1.6c-1,0-2.1,0-3.1,0c0-0.6,0-1.2,0-1.9c1.7,0,3.5,0,5.2,0c0.1,1.5-0.1,3-1,4.2
    c-1.4,1.9-4.1,2.5-6.2,1.7C4.2,15.8,2.7,13.5,2.9,11.2z"></path> <path d="M17,9.1c0.5,0,1,0,1.6,0c0,0.5,0,1,0,1.6c0.5,0,1,0,1.6,0c0,0.5,0,1,0,1.6c-0.5,0-1,0-1.6,0c0,0.5,0,1,0,1.6
    c-0.5,0-1,0-1.6,0c0-0.5,0-1,0-1.6c-0.5,0-1,0-1.6,0c0-0.5,0-1,0-1.6c0.5,0,1,0,1.6,0C17,10.2,17,9.7,17,9.1z"></path>
      </svg>
    </a>
    <a href="https://www.youtube.com/c/dynatrace" class="footer__sociallink">
      <svg viewBox="0 0 23 23">
        <title>Youtube</title>
        <path d="M16 11.503c0-.29-.117-.5-.352-.633l-6-3.752c-.242-.156-.495-.164-.76-.023-.26.14-.388.36-.388.656v7.504c0 .297.13.516.387.657.125.063.246.095.363.095.156 0 .29-.04.398-.118l6-3.75c.235-.134.352-.345.352-.634zm6 0c0 .75-.004 1.336-.012 1.758-.008.423-.04.957-.1 1.602-.058.644-.146 1.22-.263 1.73-.125.57-.395 1.05-.81 1.44-.412.39-.897.62-1.452.68-1.734.196-4.356.294-7.863.294-3.507 0-6.13-.098-7.863-.293-.555-.062-1.04-.29-1.46-.68-.418-.39-.688-.87-.814-1.442-.11-.507-.193-1.084-.252-1.728-.057-.645-.09-1.18-.098-1.6C1.004 12.838 1 12.25 1 11.5s.004-1.336.012-1.758c.008-.422.04-.955.1-1.6.058-.645.146-1.22.263-1.73.125-.57.395-1.05.81-1.44.412-.39.897-.62 1.452-.68C5.37 4.096 7.993 4 11.5 4c3.507 0 6.13.097 7.863.293.555.062 1.04.29 1.46.68.418.39.688.87.814 1.442.11.508.193 1.084.252 1.73.057.644.09 1.177.098 1.6.008.42.012 1.008.012 1.758z"></path>
      </svg>
    </a>
  </div>
  <div class="footer__legal">
    <p class="">© 2016 Dynatrace LLC. All Rights Reserved</p>
    <p class="u-text-right"><a class="footer__link" href="https://www.dynatrace.com/company/privacy/">Privacy</a> | <a class="footer__link" href="https://www.dynatrace.com/company/legal/">Legal</a> | <a class="footer__link" href="https://www.dynatrace.com/sitemap/">Sitemap</a></p>
  </div>

<script src="../dpd/js/jquery-1.10.2.js"></script>
<script src="../dpd/js/jquery-ui.js"></script>
<script src="../dpd/js/jquery.slicknav.min.js"></script>
<script src="../build/js/functions.js"></script>

</footer>