<div class="faq-accordion">
<h3>What do I need to bring for the HOT Day?</h3>
<div>
<p>Participants should bring their own laptop. Laptops must be able to connect to the Internet. We will send out any course work to be completed before your session.</p>
</div> 
<h3>I have questions about what HOT Day session to attend. Can you help?</h3>
<div>
<p>We’re happy to help. Please contact your local sales representative or Marci Acquaviva and Marci.Acquaviva@dynatrace.com.</p>
</div>
</div>