<div class="nav">
  <a class="nav__brand" href="https://www.dynatrace.com/">
    <img class="nav__logo" src="https://www.dynatrace.com/content/dam/en/general/dynatrace-logo.svg" alt="Digital &amp; Application Performance Management | Dynatrace" width="100%">
  </a>
  <div class="nav__buttongroup">
    
<form class="search" autocomplete="off" id="search" action="/search" method="GET">
  <input id="search-input" class="search__input" name="q" placeholder="Search for..." value="" type="text">
  <label id="search-input-label" for="search-input" aria-label="Search" class="search__label">
    <svg class="search__icon" viewBox="0 0 512 512">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search_magnifyingglass"></use>
    </svg>
  </label>
</form>
<a href="/search/" class="search__link" aria-label="Search">
  <svg class="search__icon" viewBox="0 0 512 512">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.dynatrace.com#search_magnifyingglass"></use>
  </svg>
</a>

    <a class="btn btn--navigation" href="https://www.dynatrace.com/trial/">Free trial</a>
    <button id="menu-toggle" class="nav__menutoggle">Menu</button>
  </div>
  <nav class="nav__bar js-nav-toggle">
    <ul class="nav__list nav__list--primary">
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/solutions/">Solutions</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/platform/">Platform</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/capabilities/">Capabilities</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/technologies/">Technologies</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/services/">Services</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link" href="https://www.dynatrace.com/pricing/">Pricing</a>
      </li>
      
    </ul>

    <ul class="nav__list nav__list--secondary">
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.com/community/">Community</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.com/company/">Company</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.com/community/blogs/">Blogs</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.comhttp://resources.dynatrace.com">Resources</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.com/languages/">Languages</a>
      </li>
      
      <li class="nav__item">
        <a class="nav__link nav__link--secondary" href="https://www.dynatrace.comhttps://account.ruxit.com/basweb/tenantlogin">Login</a>
      </li>
      
    </ul>
  </nav>
</div>

<script>
const menutoggle = document.getElementById('menu-toggle');
const navLists = document.getElementsByClassName('js-nav-toggle');

menutoggle.addEventListener('click', () =>
    Array.prototype.forEach.call(navLists, navList => navList.classList.toggle('is-active')));
</script>