<div class="container container--speakers">
	   <h2>Speakers</h2>
	   	<div class="row">
	   		<div class="col-full">
	   			<div class="content content__speakers content--insiders-blue">
	   			<p>Join the incredible list of past and present speakers at Perform! Tell your story by submitting the Call for Papers via the Dynatrace Insiders Hub or by emailing <a href="mailto:laura.stack@dynatrace.com">laura.stack@dynatrace.com</a></p>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Speaker Logos -->
	   	<h2>Past Speakers Include:</h2>
	<div class="row">

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/ray-wang-bw.jpg">
	   				<h3>Ray Wang</h3>
	   				<h4>Analyst and author of “Disrupting Digital Business”</h4>
	   				<h4 class="speaker-company">CONSTELLATION RESEARCH, INC.</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/rwang0"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I wrote the bestseller “Disrupting Digital Business”. I also have a blog about how disruptive technologies and new business models like digital transformation impact brands, enterprises, and organizations.</p>
	   			</div>
	   		</div>

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Turegano.png">
	   				<h3>Javier Turegano</h3>
	   				<h4>Global Infrastructure and Architecture Manager</h4>
	   				<h4 class="speaker-company">REA GROUP</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/jturegano"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I lead the global infrastructure and architecture area at REA Group. My passions are open source, web operations, devops and IT leadership. My original background is in systems engineering which has transitioned into playing different IT leadership roles.</p>
	   			</div>
	   		</div>

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Giard.png">
	   				<h3>Bill Giard</h3>
	   				<h4>Principal Engineer</h4>
	   				<h4 class="speaker-company">INTEL</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/william-giard-3697184"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I lead Intel IT’s software and application strategy efforts. I will share with you our focus on delivering solutions across any platform and Intel’s drive to always improve our end-user’s experience.</p>
	   			</div>
	   		</div>

	   		

	</div> <!-- Row Closer -->
	<div class="row">

<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/Photo-Burrus.png">
	   				<h3>Daniel Burrus</h3>
	   				<h4>Technology Futurist and author of “Flash Foresight”</h4>
	   				<h4 class="speaker-company">BURRUS RESEARCH, INC.</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/danielburrus"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I’m considered one of the world’s leading futurists on global technology trends and innovation and work as a strategic advisor to Fortune 500 companies. I‘ll give you powerful, practical take-aways for turning breakneck change into a competitive advantage.</p>
	   			</div>
	   		</div>

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Wojcik.png">
	   				<h3>Michael Wojcik</h3>
	   				<h4>VP Enterprise Technology Services</h4>
	   				<h4 class="speaker-company">PANERA BREAD</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/michael-wojcik-2011143a"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I lead Panera’s technical infrastructure and architecture teams. I have been in the IT financial services sector for more than 30 years, I want to share some of my experiences with you.</p>
	   			</div>
	   		</div>

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Davis.png">
	   				<h3>Brian Davis</h3>
	   				<h4>Director of Technical Architecture</h4>
	   				<h4 class="speaker-company">AMERICAN EXPRESS</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/brian-davis-6a62017"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I’m responsible for all the cloud subsystems at American Express, including monitoring, security, cloud OS and hypervisor components. I’m also a professor at several universities including Southern New Hampshire University.</p>
	   			</div>
	   		</div>

	   		

	</div> <!-- row closer -->
<div class="row">
	<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Mccann.png">
	   				<h3>Joe McCann</h3>
	   				<h4>Co-Founder</h4>
	   				<h4 class="speaker-company">NODESOURCE</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/josephisaac"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I’m a proud hacker, tinkerer, builder and breaker with more than 13 years of web, mobile and software development experience. I have a special attachment to Node.js because it enables me to prototype an idea in minutes.</p>
	   			</div>
	   		</div>

	   		<div class="col-third speaker-block">
	   			<div class="content content__speakers-info">
	   				<img class="speaker-headshot" src="/img/photo-Awatramani.png">
	   				<h3>Nita Awatramani</h3>
	   				<h4>Associate Director Portfolio Management</h4>
	   				<h4 class="speaker-company">VERIZON</h4>
	   				<div class="sm-icons">
	   					<a href="https://www.linkedin.com/in/nita-awatramani-6b6bb58"><img src="img/linkedin.png"></a>
	   				</div>
	   				<p>I work on portfolio management, which includes infrastructure, security, compliance, procurement, HR, finance, executive communication, program and project management and business operations. In my session I will talk with Andreas Grabner, Dynatrace, about how DevOps is changing Verizon.</p>
	   			</div>
	   		</div>
	</div>

</div>
<!-- container closer -->