<div class="container">
	<h2>Sponsors</h2>
	   	<div class="row">
	   		<div class="col-full">
	   			<div class="content content__sponsors">
	   			<img style="text-align: center;" src="img/spotlight.png">
	   			<p>Join 1500 Dynatrace Users who view digital performance management as critical to their business at Perform 2017. Attendees have an opportunity to share best practices and exchange ideas with Dynatrace thought leaders, executive management, and select partners and integrators.</p>  
	   			<p>Interested in sponsorship? Send email to:</p> 
	   			<a class="btn btn--green" href="mailto:performsponsors@dynatrace.com">performsponsors@dynatrace.com</a>
	   			</div>
	   		</div>
	   	</div>
</div>