<div class="faq-accordion">
<h3>When should I arrive?</h3>
<div>
<p>Perform will officially kick off Monday, February 6th 2017 at 7:00pm and conclude on Thursday, February 9th at 12pm. If you plan to participate in the HOT Day or the partner summit please plan to arrive on Sunday night as the HOT Day begins at 8am on Monday otherwise please arrive Monday evening for general session Tuesday.</p> 
</div>
<h3>Is there a discounted hotel room rate at the Cosmopolitan Hotel Las Vegas?</h3>
<div>
<p>The official hotel of Perform is the Cosmopolitan, the conference hotel rate is $220.00 a night. After completing registration you will be prompted to complete your travel plans and reserve your hotel nights at The Cosmopolitan Las Vegas if you wish. https://www.cosmopolitanlasvegas.com/</p>
</div>
<h3>How do I book my hotel room?</h3>
<div>
<p>All hotel reservations should be made through the Perform 2017 website via the registration form.</p>
</div>
<h3>Who do I contact to change make changes to my hotel reservation or cancel my hotel reservation?</h3>
<div>
<p>Please contact the Perform 2017 Registration Desk at Gavel International at (877) 862-2252 / (847) 597-8570, to make changes or cancel your hotel reservation. Do not contact the hotel directly. They will not be able to help you and will refer you to Gavel International.</p>
</div>
<h3>What is the closest airport?</h3>
<div>
<p>McCarran International Airport</p> 
</div>
<h3>How far is the conference hotel from the airport?</h3>
<div>
<p>The Cosmopolitan Hotel Las Vegas is approximately a 10 minute drive from the airport.</p>
</div>
<h3>How do I get from the airport to the hotel?</h3>
<div>
<p>Transportation is the responsibility of each participant.</p>
</div>
</div>
<!-- Accordion Closer #2 -->